extends baseEmail

block content
  p A line item was marked <strong>delivered</strong> in the admin dashboard.
  p
    strong Item: 
    | #{itemTitle}
    br
    strong Order reference: 
    | #{orderRef}
    br
    strong Order ID: 
    | #{orderId}
  p(style='margin-top:16px') <strong>Customer</strong>
  p(style='margin:0') Name: #{customerName}
  p(style='margin:0') Email: #{customerEmail}
  p(style='margin:0') Phone: #{customerPhone}
  p(style='margin:0') Address: #{addressLine}
